.form {
  position: fixed;
  left: 35%;
  top: 10%;
  padding: 10px;
  z-index: 110;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(220, 220, 224);
  flex-direction: column;
  margin: 0 auto;
  width: 520px;
}

.form textarea {
  font-size: 20px;
  height: 150px;
  margin-top: 5px;
  padding-left: 5px;
  border: none;
  color: #555555;
}

.btn-post {
  height: 40px;
  width: 200px;
  margin: 20px auto;
  color:white;
  font-weight: 500;
  background-color: rgb(53, 134, 201);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(223, 216, 216);
}

.btn-post:hover {
  background-color: rgba(47, 114, 201, 0.829);
}

@media only screen and (max-width:1000px) {
    .form{
        left:0;
        margin-left: 5%;
        width: 90%;
    }
}